/* === GENERAL === */
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  
 html {
 font-size: 100%;
 }
  
 body {
 max-width: 1440px;
 margin: 0 auto;
 }
 section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    margin: 10% 20%;
}

div {
    width: 200px;
    height: 200px;
    background: rgb(0, 199, 0);
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;
}

.translate:hover {
    transform: translate(50px, 50px);
}

.translatex:hover {
    transform: translatex(-50px);
}

.translatey:hover {
    transform: translatey(50px);
}

.rotate:hover {
    transform: rotate(45deg);
}

.scale:hover {
    transform: scale(1.3);
}

.skew:hover {
    transform: skew(15deg, 15deg);
 /* wrapper {
 margin: 0 auto;
 }
  
 /* ====== BODY ====== */
  
 /* ====== HEADER ====== */
  
 /* ====== MAIN ====== */
  
 /* ====== FOOTER ====== */
  
 /* =========================================================================
                            MEDIA QUERIES
 =========================================================================*/
  
 